flows/Incentive_Approval.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_Deal_Desk_Approval</name>
        <label>Check Deal Desk Approval</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Rejected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Deal_Desk_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Deal_Desk_Approval.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Approve</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sales_Ops_Stage</targetReference>
            </connector>
            <label>Is Deal Desk Approved</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Finance_Approval</name>
        <label>Check Finance Approval</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Rejected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Finance_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Finance_Approval.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Approve</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Deal_Desk_Stage</targetReference>
            </connector>
            <label>Is Finance Approved ?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Pricing_Approval</name>
        <label>Check Pricing Approval</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Rejected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Pricing_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Pricing_Team_Approval.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Approve</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Finance_Stage</targetReference>
            </connector>
            <label>Is Pricing Approved?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Sales_Ops_Approval</name>
        <label>Check Sales Ops Approval</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Rejected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Sales_Ops_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sales_Ops_Approval.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Approve</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Final_Stage</targetReference>
            </connector>
            <label>Is Sales Ops Approved</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Incentive Approval {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Incentive Approval</label>
    <orchestratedStages>
        <name>Deal_Desk_Stage</name>
        <label>Deal Desk Stage</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Deal_Desk_Approval</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Background_Step_of_Deal_Desk_Stage</name>
            <actionName>Incentive_Approval_Update_Status</actionName>
            <actionType>stepBackground</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <conditionType>EntryCondition</conditionType>
                <leftValueReference>Finance_Approval.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Approve</elementReference>
                </rightValue>
            </entryConditions>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>IncentiveID</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>IncentiveStatus</name>
                <value>
                    <elementReference>StatusDealDesk</elementReference>
                </value>
            </inputParameters>
            <label>Background Step of Deal Desk Stage</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Deal_Desk_Approval</name>
            <actionName>PricingApproval</actionName>
            <actionType>stepApproval</actionType>
            <assignees>
                <assignee>
                    <elementReference>DealDeskQueue</elementReference>
                </assignee>
                <assigneeType>Queue</assigneeType>
            </assignees>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <conditionType>EntryCondition</conditionType>
                <leftValueReference>Background_Step_of_Deal_Desk_Stage.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </entryConditions>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>IncentiveID</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__CustomEmailSubject</name>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__CustomEmailBody</name>
            </inputParameters>
            <label>Deal Desk Approval</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>ApprovalStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Final_Stage</name>
        <label>Final Stage</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Set_Status_Approved</name>
            <actionName>Incentive_Approval_Update_Status</actionName>
            <actionType>stepBackground</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>IncentiveID</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>IncentiveStatus</name>
                <value>
                    <elementReference>StatusApproved</elementReference>
                </value>
            </inputParameters>
            <label>Set Status Approved</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Finance_Stage</name>
        <label>Finance Stage</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Finance_Approval</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Background_Step_of_Finance_Stage</name>
            <actionName>Incentive_Approval_Update_Status</actionName>
            <actionType>stepBackground</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <conditionType>EntryCondition</conditionType>
                <leftValueReference>Pricing_Team_Approval.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Approve</elementReference>
                </rightValue>
            </entryConditions>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>IncentiveID</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>IncentiveStatus</name>
                <value>
                    <elementReference>StatusFinance</elementReference>
                </value>
            </inputParameters>
            <label>Background Step of Finance Stage</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Finance_Approval</name>
            <actionName>PricingApproval</actionName>
            <actionType>stepApproval</actionType>
            <assignees>
                <assignee>
                    <elementReference>FinanceQueue</elementReference>
                </assignee>
                <assigneeType>Queue</assigneeType>
            </assignees>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <conditionType>EntryCondition</conditionType>
                <leftValueReference>Background_Step_of_Finance_Stage.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </entryConditions>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>IncentiveID</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__CustomEmailSubject</name>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__CustomEmailBody</name>
            </inputParameters>
            <label>Finance Approval</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>ApprovalStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Pricing_Review</name>
        <label>Pricing Review</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Pricing_Approval</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Background_Step_2_of_Pricing_Review</name>
            <actionName>Incentive_Approval_Update_Status</actionName>
            <actionType>stepBackground</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>IncentiveID</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>IncentiveStatus</name>
                <value>
                    <elementReference>StatusPricing</elementReference>
                </value>
            </inputParameters>
            <label>Background Step  of Pricing Review</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Pricing_Team_Approval</name>
            <actionName>PricingApproval</actionName>
            <actionType>stepApproval</actionType>
            <assignees>
                <assignee>
                    <elementReference>PricingQueue</elementReference>
                </assignee>
                <assigneeType>Queue</assigneeType>
            </assignees>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <conditionType>EntryCondition</conditionType>
                <leftValueReference>Background_Step_2_of_Pricing_Review.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </entryConditions>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>IncentiveID</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <label>Pricing Team Approval</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>ApprovalStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Rejected</name>
        <label>Rejected</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Set_Rejected_Status</name>
            <actionName>Incentive_Approval_Update_Status</actionName>
            <actionType>stepBackground</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>IncentiveID</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>IncentiveStatus</name>
                <value>
                    <elementReference>StatusReject</elementReference>
                </value>
            </inputParameters>
            <label>Set Rejected Status</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Sales_Ops_Stage</name>
        <label>Sales Ops Stage</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Sales_Ops_Approval</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Background_Step_of_Sales_Ops_Stage</name>
            <actionName>Incentive_Approval_Update_Status</actionName>
            <actionType>stepBackground</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <conditionType>EntryCondition</conditionType>
                <leftValueReference>Deal_Desk_Approval.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Approve</elementReference>
                </rightValue>
            </entryConditions>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>IncentiveID</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>IncentiveStatus</name>
                <value>
                    <elementReference>StatusSalesOpsReview</elementReference>
                </value>
            </inputParameters>
            <label>Background Step of Sales Ops Stage</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Sales_Ops_Approval</name>
            <actionName>PricingApproval</actionName>
            <actionType>stepApproval</actionType>
            <assignees>
                <assignee>
                    <elementReference>SalesOpsQueue</elementReference>
                </assignee>
                <assigneeType>Queue</assigneeType>
            </assignees>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <conditionType>EntryCondition</conditionType>
                <leftValueReference>Background_Step_of_Sales_Ops_Stage.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </entryConditions>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>IncentiveID</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__CustomEmailSubject</name>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__CustomEmailBody</name>
            </inputParameters>
            <label>Sales Ops Approval</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>true</shouldLock>
            <stepSubtype>ApprovalStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>ApprovalWorkflow</processType>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Pricing_Review</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Requested</stringValue>
            </value>
        </filters>
        <object>Incentive_Approval__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Approve</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Approve</stringValue>
        </value>
    </variables>
    <variables>
        <name>DealDeskQueue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Incentive_Deal_Desk_Queue</stringValue>
        </value>
    </variables>
    <variables>
        <name>FinanceQueue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Incentive_Finance_Queue</stringValue>
        </value>
    </variables>
    <variables>
        <name>PricingQueue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Incentive_Pricing_Queue</stringValue>
        </value>
    </variables>
    <variables>
        <name>SalesOpsQueue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Incentive_Sales_Ops_Queue</stringValue>
        </value>
    </variables>
    <variables>
        <name>StatusApproved</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Approved</stringValue>
        </value>
    </variables>
    <variables>
        <name>StatusDealDesk</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Deal Desk Review</stringValue>
        </value>
    </variables>
    <variables>
        <name>StatusFinance</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Finance Review</stringValue>
        </value>
    </variables>
    <variables>
        <name>StatusPricing</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Pricing Review</stringValue>
        </value>
    </variables>
    <variables>
        <name>StatusReject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Rejected</stringValue>
        </value>
    </variables>
    <variables>
        <name>StatusSalesOpsReview</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Sales Ops Review</stringValue>
        </value>
    </variables>
</Flow>
