flows/PricingApproval.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assignment</name>
        <label>Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>approvalComments</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ApprovalDecisionComments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>approvalDecision</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ApprovalDecisionRadioButtons</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <choices>
        <description>Approve the request</description>
        <name>ApproveChoice</name>
        <choiceText>Approve</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Approve</stringValue>
        </value>
    </choices>
    <choices>
        <description>Reject the request</description>
        <name>RejectChoice</name>
        <choiceText>Reject</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Reject</stringValue>
        </value>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;path&quot;}</stringValue>
        </value>
    </customProperties>
    <description>Evaluate advanced approval requests to approve or deny them while optionally leaving comments.</description>
    <environments>Default</environments>
    <interviewLabel>Approval Workflows: {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Incentive Pricing Approval</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <description>Allows the flow user to approve or reject an approval request, and add comments to the decision.</description>
        <name>Approval_Request</name>
        <label>Approval Request</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assignment</targetReference>
        </connector>
        <fields>
            <name>ApprovalDecisionRadioButtons</name>
            <choiceReferences>ApproveChoice</choiceReferences>
            <choiceReferences>RejectChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Approval Decision</fieldText>
            <fieldType>RadioButtons</fieldType>
            <helpText>&lt;p&gt;Displays radio buttons to approve or reject a request. You can also add comments for your decision.&amp;nbsp;&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ApprovalDecisionComments</name>
            <fieldText>Decision Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;font-family: Arial; font-size: 10pt; color: rgb(0, 0, 0);&quot;&gt;Optionally enter comments on the approval request&lt;/span&gt;&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <sourceTemplate>standard_approvals__EvaluateApproval</sourceTemplate>
    <stages>
        <description>Pricing Approval
Prior to Approving Please enter the Tier / Discount / Value Adds needed for this Approval</description>
        <name>Step_1_Pricing_Approval</name>
        <isActive>false</isActive>
        <label>Step 1 - Pricing Approval</label>
        <stageOrder>1</stageOrder>
    </stages>
    <stages>
        <description>Finance Approval
Please Review the Tiers / Discounts / Value Adds set up by Pricing Team</description>
        <name>Step_2_Finance_Approval</name>
        <isActive>false</isActive>
        <label>Step 2 - Finance Approval</label>
        <stageOrder>2</stageOrder>
    </stages>
    <stages>
        <description>Deal Desk Approval
Please Review the Tiers / Discounts / Value Adds</description>
        <name>Step_3_Deal_Desk_Approval</name>
        <isActive>false</isActive>
        <label>Step 3 - Deal Desk Approval</label>
        <stageOrder>3</stageOrder>
    </stages>
    <stages>
        <description>Sales Ops Approval
Please Review Tiers / Discounts / Value Adds</description>
        <name>Step_4_Sales_Ops_Approval</name>
        <isActive>false</isActive>
        <label>Step 4 - Sales Ops Approval</label>
        <stageOrder>4</stageOrder>
    </stages>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Approval_Request</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>$Label.EvaluateApprovalRequestFlow.OutputCommentDescription</description>
        <name>approvalComments</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>$Label.EvaluateApprovalRequestFlow.OutputDecisionDescription</description>
        <name>approvalDecision</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>IncentiveID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Stage</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
